/*Обнуление*/
*,*:before,:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    letter-spacing: none;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

/* ------------------------------------------------------------------- */
html,
body {
    height: 100%; /* прижимаем футер КНИЗУ */

    line-height: 1;
    font-size: 16px;
    color: #000;
}
/* ------------------------------------------------------------------- */

/* -------------------------оболочка для демонстрации----------------- */
.wrapper {
    min-height: 100%;/* прижимаем футер КНИЗУ */
    display: flex; /* прижимаем футер КНИЗУ */
    flex-direction: column; /* прижимаем футер КНИЗУ */
    overflow: hidden;
}
/* -------------------------ТЕНИЧЕСКИЕ КЛАССЫ----------------- */
._conteiner { /* общий ограничиваюий контейнер */
    max-width: 1046px;
    margin: 0 auto;
    padding: 0px 20px;
}
._ibg { /* для всех используемых ibg */
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}/* -------------------------ТЕНИЧЕСКИЕ КЛАССЫ----------------- */

/* -------------------------основные стили------------------------ */

.header {
    position: fixed; /* Наша ШАПКА - HEADER будет ФИКСИРОВАННОЙ, т.е.при скроле она всеглда будет сверху кнотента */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;/* делаем большой z-index ЧТОБЫ поверх контента была шапка*/
}

/* --------------------создаем ПЛАШКУ РОЗОВОГО ЦВЕТА----------------------*/
.header:before {/* создаем ПЛАШКУ */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* т.е. на ВЕСЬ РАЗМЕР НАШЕЙ ШАПОЧКИ */
    background-color: rgb(33, 231, 238);
    z-index: 2;
}
._conteiner { /* теперь ОГРАНИЧИМ по ШИРИНЕ КОНТЕНТ */
    max-width: 1150px; /* получилось */
    margin: 0 auto; /* получилось */
    padding: 0px 20px; /* получилось */
}
.header__body { /* теперь нам нужно ВЫТАЩИТЬ ВЕСЬ КОНТЕНТ НАВЕРХ из под ШАПКИ */
    position: relative;
    z-index: 2;
    height: 80px; /* ВЫСОТА ШАПКИ header */

    /* теперь продолжаем работать с ШАПКОЙ, после того как в conteiner - ОГРАНИЧИЛИ по ШИРИНЕ КОНТЕНТ */
    display: flex; /* ЗаДАЛИ flex что бы РАЗБРОСАТЬ по СТОРОНАМ лого и пункты меню */
    justify-content: space-between;
    align-items: center;
}

.header__logo { /* а размер ДЛЯ НАШЕЙ КАРТИНКИ мы укажем 60рх */
    /*flex: 0 0 80px; /* КАРТИНКА сама по размеру 200рх */
    /*border-radius:60%; /* делаем картинку КРУГЛОЙ */
    /*overflow: hidden;*/ 
    /* если у КАРТИНКИ есть ПОДРЕЗАНИЕ - пишем в header__logo img - DISPLAY: BLOCK */

}
.header__logo img { /* если вдруг ДРУГАЯ КАРТИНКА будет БОЛЬШЕ, то чтобы потом подстроилась под НАШ РАЗМЕР */
   /*max-width: 100%;*/
    /*display: block;*/
    /* DISPLAY: BLOC */
}
.header_logo {
    font-size: 30px;
    font-family: 'Abyssinica SIL', serif;
    font-weight: 800;
}
.header_logo:hover {
    text-shadow: 1px 1px 10px rgb(125, 123, 125);
    cursor: pointer;
    transition: 0.8s;
}
.span-FIT { /*  задаем ЦВЕТ ИМЕННО  span */
    color: #f50ef5;
}
.header_logo a { /* задаем ЦВЕТ ИМЕННО ЛОГО */
    color: #7d06b1;
}


/* --------------------------------------------------ПЕРЕХОДИМ К верстке самих ПУНКТОВ МЕНЮ---------------------------------- */
.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.menu_header_link { /* все ссылки отступы */
    /*padding: 0px 0px 0px 10px;*/
    list-style: none; /* убираем ТОЧКИ перед ПУНКАМИ МЕНЮ */ /* получилось */
    margin: 0px 0px 0px 20px; /* получилось */
    text-transform: uppercase;
    font-family: 'Noto Serif Balinese', serif;
    font-size: 20px; /* если сделать шрифт меньше, СКРОЛА не будет */

    /* ---------------------------------------------------ДЕЛАЕМ интересное подчеркивание пунктов меню-------------------------------------- */
    background: linear-gradient(orange 0 0) bottom/var(--t,0) 2px no-repeat;
    transition: 0.5s; /* плавный переход-анимация */
}
    /* что бы заработало добавляем HOVER --t: */
    .menu_header_link:hover {
    --t: 100%;
}

.menu_header_link1 {  /* задаем всем ссылкам размер, шрифт, цвет */
    font-size: 18px;
    font-weight: 700;
    color: #fdfbfb;
}
.menu_header_link1:hover {
    color: #1909f5;
    transition: 0.7s;
} 
.link_vip { /* -------------------выделяем отдельно ссылку в меню -----------------  */
    color: #f50ef5;
}
.link_vip:hover {
    color: #eaedf6;
    cursor: pointer;
    transition: 0.7s;
}


 /* --------------------------------------------------переходим к верстке БУРГЕР-МЕНЮ--------------------------------- */
.header__burger {
    display: none;
}
.header__menu {
}



/* --------------------------------------------------ПЕРЕХОДИМ К верстке Медиа-Запрос для 767px-экранов---------------------------------- */

/* будет выскакивать БУРГЕР-МЕНЮ при уменьшеении ЭКРАНОВ  */

@media (max-width:767px) {
    .header__body { /* уменьшаем ВЫСОТУ ШАПКИ header  */
        height: 50px;
    }
    .header__logo { /* уменьшаем размер ЛОГО-фото */
        flex: 0 0 40px;
    }
    /* это будет бургер меню */
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    } 

    /* --------------------------здесь мы РИСУЕМ ПОЛОСОЧКИ БУРГЕР */ /* общие настройки-------------------------- */
    .header__burger:before,
    .header__burger:after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s; /* теперь переходят плавно полосочки */
    }

    /* --------------------------здесь мы РИСУЕМ Верхнюю ПОЛОСУ БУРГЕР-------------------------- */
    .header__burger:before {
        top: 0;  
    }
     /* --------------------------здесь мы РИСУЕМ Нижнюю ПОЛОСУ БУРГЕР-------------------------- */
    .header__burger:after {
        bottom: 0;  
    }
     /* --------------------------здесь мы РИСУЕМ СРЕДНЮЮ ПОЛОСУ БУРГЕР--------------------------- */
    .header__burger span {
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s; /* теперь переходят плавно полосочки */
    }

    .header__burger.active:before {
        transform: rotate(45deg); /* делаем палочку теперь на 45`,т.е.она стала по диагонале */
        top: 9px; /* теперь подняли ее на центр */
    }
    .header__burger.active:after {
        transform: rotate(-45deg); /* делаем палочку теперь на 45`,т.е.она стала по диагонале */
        bottom: 9px; /* теперь подняли ее на центр */
    }
    .header__burger.active span {
        transform: scale(0); /* убираем среднюю полосочку */
    }
    /* --------------------------здесь мы Закончили РИСОВАТЬ - БУРГЕ-------------------------- */



    /* -----------------теперь стилизуем МЕНЮ----------------- */
    .header__menu {
        /* Делаем ПЛАСТИНУ которая будет ВЫЕЗЖАТЬ для пунктов меню */
        position: fixed;
        top: -100%; /* меню будет сьезжать сверху */
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* будет скрол при повороте экрана телефона */
        transition: all 0.3s ease 0s; /* теперь переходит плавно */    
        background-color: #8043f0; 
        padding: 70px 10px 20px 10px; /* пункты меню вытащили из розовой плашки в РЯД */
    }
    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block; /* меню пункты встали в КОЛОНКУ */
        text-align: center;
    }
    .header__list li { /* теперь сделали отступы между строчками меню в колонке */
        margin: 0px 0px 20px 0px;
    }

    .header__list li {
    font-size: 27px; /* сделали шрифт больше (с 20рх на 27рх), для СКРОЛА телефонов в горизонтальном положении!*/
    }

}

/* -----------------теперь стилизуем МЕНЮ----------------- *



/* -----------------------------------------footer-------------------------------------------- */
.footerS {
    padding: 150px 0px 80px 0px;
    /* фото на весь блок */
    background: linear-gradient(45deg, rgba(79, 84, 97, 0.6), rgba(17, 18, 22, 0.9)),
                url(img-2/foto3.jpg) center center no-repeat;
    background-size: cover;
}
.conteiner_footer {
}
._conteiner {
}


.footer_BODY {
    padding: 0px 0px 40px 0px;
}

.block_footer_TEXT {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #e9d8d8;
    font-family: 'Times New Roman', Times, serif;
}

.span_CONTACT {
    color: #f9f9f9;
    text-shadow: 2px 0 0 #000000;
    font-weight: 900;
}


.footer_COLUMS {
    display: flex;
    margin: 0 auto;
    /*border: 1px solid #020bb1;*/
    flex-wrap: wrap;
}


.footer_Column1 {
    flex: 0 1 10%;
    /*border: 1px solid #02b11f;*/
    display: flex;
    justify-content: center;
}
@media (max-width:767px) {
    .footer_Column1 {
        flex: 0 1 100%;
    }
}
@media (max-width:767px) {
    .footer_block-icons {
        display: flex;
        flex-direction: row;
    }
}
.footer_block-icons img{
    display: flex;
    padding: 0px 0px 30px 0px;
    border: 2px solid#9102b1;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    margin: 15px 0;
}
.footer_block-icons img:hover {
    cursor: pointer;
    transition: 0.8s;
    transform: rotate(-180deg);
    border: 2px solid #ecf7ee;
}
@media (max-width:767px) {
    .footer_block-icons img{
      margin-left: 25px;
    }
}
@media (max-width:500px) {
    .footer_block-icons img{
      margin-left: 10px;
    }
}
.footer_Column2 {
    flex: 0 1 45%;
   /* border: 1px solid #b102ab;*/
    display: flex;
    justify-content: center;
    line-height: 50px;
}
@media (max-width:767px) {
    .footer_Column2{
        flex: 0 1 50%;

    }
}
@media (max-width:650px) {
    .footer_Column2{
        flex: 0 1 100%;
        text-align: center;
    }
}
.footer_Column3 {
    flex: 0 1 45%;
    /*border: 1px solid #ef0810;*/
    display: flex;
    justify-content: center;
    line-height: 50px;
}
@media (max-width:767px) {
    .footer_Column3{
        flex: 0 1 50%;
        text-align: center;

    }
}
@media (max-width:650px) {
    .footer_Column3{
        flex: 0 1 100%;

    }
}
.footer-_TITLE {

}

.footer_adress-TEXT {
    font-size: 21px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.footer_adress-TEXT:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 1.5s;
}
.adress-TEXT {
    font-size: 18px;
    color: #c3c6c6;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.footer_Phones-TEXT {
    font-size: 21px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.footer_Phones-TEXT:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 1.5s;
}
.Phones-TEXT {
    font-size: 18px;
    color: #c3c6c6;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.footer_Working-time-TEXT {
    font-size: 21px;
    color: #ffffff;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}
.footer_Working-time-TEXT:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 1.5s;
}
.Working-time-TEXT {
    font-size: 18px;
    color: #c3c6c6;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.Our-mail-TEXT {
    font-size: 18px;
    color: #c3c6c6;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

/* -------------------------------------------footer-------------------------------------------- */


/* -----------------------------------------secction_img------------------------------------------------ */

.secction_img-boX {
    margin: -80px 0px 80px 0px;


}
.conteiner_section_WORLD-OF-GYM {
}
._conteiner {
}

._ibg3 {/* позиционируем фото */
    position: relative;
}
._ibg3 img{/* позиционируем фото */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}
.BOX-secction_img {
    position: relative; /* позиционируем фото */
    padding: 0px 0px 50% 0px;/* позиционируем фото */
}
.secction_img-foto {
    position: absolute;/* позиционируем фото */
    width: 100%;/* позиционируем фото */
    height: 100%;/* позиционируем фото */
    top: 0;/* позиционируем фото */
    left: 0;/* позиционируем фото */
}
.secction_img_TiTLE {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px 0px 0px 0px;

    font-size: 30px;
    font-family: 'Abyssinica SIL', serif;
    font-weight: 800;
}
.span-FIT {
    color: #f50ef5;
}
.secction_img_TiTLE :hover {
    text-shadow: 1px 1px 10px rgb(125, 123, 125);
    cursor: pointer;
    transition: 0.8s;
}
.secction_img_TiTLE a { /* задаем ЦВЕТ ИМЕННО ЛОГО */
    color: #7d06b1;
}
/* -----------------------------------------secction_img------------------------------------------------ */